<nav class="navbar navbar-default text-center">
    <div class="container">

        <div class="navbar-header text-center">
            <a class="navbar-brand" href="/sd/#/"><i class="fa fa-leaf green"></i> Green House</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/sd/#/history"><i class="fa fa-history"></i> history</a></li>
            <li><a target="_blank" href="/cgi-bin/luci/webpanel/homepage"><i class="fa fa-wrench"></i> admin</a></li>
        </ul>
    </div>
</nav>