

<div cg-busy="loading">
    <div ng-show="loaded">
        <div class="row">
            <div class="col-sm-6">
                <form class="form">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <span class="dropdown">
                            <a class="dropdown-toggle" id="dropdownstart" role="button" data-toggle="dropdown" data-target="#" href="#">{{ sDate | date:'yyyy-MM-dd hh:mm:ss'}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="sDate" data-datetimepicker-config="{ dropdownSelector: '#dropdownstart' }" />
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="startDate">End Date</label>
                        <span class="dropdown">
                            <a class="dropdown-toggle" id="dropdownend" role="button" data-toggle="dropdown" data-target="#" href="#">{{ eDate | date:'yyyy-MM-dd hh:mm:ss'}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="eDate" data-datetimepicker-config="{ dropdownSelector: '#dropdownend' }" />
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Frequency</label>
                        <span class="dropdown">
                            <select ng-model="freq">
                                <option value="60min">1 h</option>
                                <option value="10min">10 min</option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Normalize Data</label>
                        <input type="checkbox" ng-model="normalize.value" />  {{normalize.value}}
                    </div>
                </form>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" ng-click="weekData()">This week data</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" ng-click="monthData()">This month data</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-inline">
                    <span ng-repeat="sensor in sensors">
                        <label class="checkbox" for="{{sensor.name}}">
                            <input type="checkbox" checklist-model="sensorsSelected" checklist-value="sensor.name" name="group" id="{{sensor.id}}" />
                            {{sensor.name}}
                        </label>
                    </span>
                </div>
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-info" ng-click="pondTemp()">Pond Temperature</button>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button ng-click="DrawGraph()" type="submit" class="btn btn-info center-block">Draw!</button>
            </div>
        </div>
        <div class="row">
            <canvas id="line" class="chart chart-line"
                    data="data"
                    labels="labels"
                    legend="true"
                    series="series"></canvas>
        </div><!--/row-->
    </div><!--/loaded-->
</div><!--/loading-->
<div ng-hide="loaded">
    <div class="col-sm-12">
        Could not load data. Please <a href="" ng-click="load()">refresh</a>
    </div>
</div>