

<div cg-busy="loading">
    <div ng-show="loaded">
        <div class="row">
            <div class="col-sm-6 table-responsive">
                <table class="table">
                    <caption>User Options</caption>
                    <tbody>
                        <tr class="success">
                            <td ng-click="load()" class="tdrefresh">

                                <i class="fa fa-refresh fa-lg green" style="position:relative;top:10px; "></i>
                                <span>{{time | amDateFormat:'MMMM Do YYYY, HH:mm:ss (dd)' }} </span> <small class="text-info"> ({{timeSinceText}} ago)</small><br />
                                <small style="margin-left:20px;">Click to refresh new data</small>

                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <span ng-click="tempFormat='C'" type="button" class="btn btn-default" ng-class="{ 'btn-primary active': tempFormat == 'C'}">C&deg;</span>
                                    <span ng-click="tempFormat='F'" type="button" class="btn btn-default" ng-class="{ 'btn-primary active': tempFormat == 'F'}">F&deg;</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col-sm-6 -->
            <div class="col-sm-6 table-responsive">
                <table class="table">
                    <caption>System statistics</caption>
                    <tbody>
                        <tr class="success">
                            <td><i class="fa fa-heartbeat green"></i>  System running for <strong><span class="green">{{uptime}}</span></strong> since last reboot </td>
                        </tr>
                        <tr class="success">
                            <td><i class="fa fa-tachometer green"></i> System utilization <strong><span class="green">{{util}}</span></strong> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--/row-->

        <div class="row">
            <div class="col-sm-6 table-responsive">
                <table class="table">
                    <caption>Air statistics</caption>
                    <thead>
                        <tr class="bg-primary"><td>Air</td><td> Out</td><td>In</td></tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td>{{temperature.name}} <abbr data-popover-title="Device Address" data-popover="{{temperature.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td><span class="badge"><span ng-show="tempFormat == 'C'">{{temperature.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{temperature.f}} F&deg;</span></span></td>
                            <td></td>
                        </tr>
                        <tr class="success">
                            <td>{{humidityPercentage.name}}</td>
                            <td> <span class="badge"><span>{{humidityPercentage.percentage}} &#37;</span> </span></td>
                            <td><!--<span class="badge">80 &#37;</span>--></td>
                        </tr>
                        <tr class="success">
                            <td>{{heatIndex.name}}</td>
                            <td> <span class="badge"><span ng-show="tempFormat == 'C'">{{heatIndex.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{heatIndex.f}} F&deg;</span> </span></td>
                            <td><!--<span class="badge">32 </span>--></td>
                        </tr>
                        <tr class="success">
                            <td>{{light.name}} <abbr data-popover-title="Device Address" data-popover="{{light.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td> <span class="badge">{{light.v}}</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col-sm-6 -->
            <div class="col-sm-6  table-responsive">
                <table class="table">
                    <caption>Water Statistics</caption>
                    <thead>
                        <tr class="bg-primary"><td>Water</td><td></td></tr>
                    </thead>
                    <tbody>
                        <!--<tr class="success"><td>Pool Level</td><td><span class="badge">5 m</span></td></tr>-->
                        <tr class="success">
                            <td>{{temp1.name}} <abbr data-popover-title="Device Address" data-popover="{{temp1.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td><span class="badge"><span ng-show="tempFormat == 'C'">{{temp1.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{temp1.f}} F&deg;</span></span></td>
                        </tr>
                        <tr class="success">
                            <td>{{temp2.name}} <abbr data-popover-title="Device Address" data-popover="{{temp2.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td><span class="badge"><span ng-show="tempFormat == 'C'">{{temp2.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{temp2.f}} F&deg;</span></span></td>
                        </tr>
                        <tr class="success">
                            <td>{{temp3.name}} <abbr data-popover-title="Device Address" data-popover="{{temp3.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td><span class="badge"><span ng-show="tempFormat == 'C'">{{temp3.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{temp3.f}} F&deg;</span></span></td>
                        </tr>
                        <tr class="success">
                            <td>{{temp4.name}} <abbr data-popover-title="Device Address" data-popover="{{temp4.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td><span class="badge"><span ng-show="tempFormat == 'C'">{{temp4.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{temp4.f}} F&deg;</span></span></td>
                        </tr>
                        <tr class="success">
                            <td>{{temp5.name}} <abbr data-popover-title="Device Address" data-popover="{{temp5.address}}" data-popover-placement="right" data-popover-trigger="mouseenter"><i class="fa fa-map-marker"></i></abbr></td>
                            <td><span class="badge"><span ng-show="tempFormat == 'C'">{{temp5.c}} C&deg;</span> <span ng-hide="tempFormat == 'C'">{{temp5.f}} F&deg;</span></span></td>
                        </tr>
                        <!--<tr class="success"><td>Pump Running</td><td><i class="fa fa-cog fa-spin fa-lg green"></i></td></tr>-->
                    </tbody>
                </table>

            </div><!-- /.col-sm-6 -->
        </div><!--/row-->

    </div>
</div>
<div ng-hide="loaded">
    <div class="col-sm-12">
        Could not load data. Please <a href="" ng-click="load()">refresh</a>
    </div>
</div>